@media(max-width:450px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-logo-box {
    padding: 1rem 0.5rem 1rem 1rem;
    flex-basis: 25%
  }

  .header-logo-box img {
    width : 100%
  }

  .header-links-box {
    padding: 1rem;
  }

  .header-links-box a {
    color: hsl(243, 87%, 12%);
    margin-right: 0.75rem;
  }

  .files-sect-container {
    display: flex;
    flex-direction: column;
  }

  .files-img-box {
    padding: 1.5rem;
    order: 1;
  }

  .files-img-box img {
    max-width: 100%;
  }

  .files-content-box {
    padding: 1.5rem;
    order: 2;
    text-align: center;
    line-height: 1.25;
  }

  .form-submit-button {
    background: hsl(224, 93%, 58%);
    color: white;
    border: 2px solid hsl(224, 93%, 58%);
    width: 100%;
    height: 1.75rem;
    text-shadow: none;
    padding:  0;
  }

  .form-input {
    width: 99%;
    height: 1.5rem;
    margin-bottom: 0.75rem;
    padding: 0;
    margin-top: 0.5rem;
  }

  .curve-img-sect-container {
    display: flex;
  }

  .curve-img-box {
    background-image: url(../images/bg-curve-mobile.svg);
    width: 100%;
    height: 3rem;
    background-size: 100% 100%;
  }

  .info-sect-container {
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 75%, 98%);
    margin: -0.4rem 0 0 0;
  }

  .info-sect-img-box {
    order: 1;
    padding: 1.5rem;
  }

  .info-sect-img-box img {
    max-width: 100%;
    max-height: 100%;
  }

  .info-sect-content-box {
    order: 2;
    padding: 1.5rem;
    text-align: center;
  }

  .info-sect-content-box h1 {
    font-size: 1.25rem;
  }

  .info-sect-content-box p {
    text-align: left;
  }

  .info-sect-content-box a,
  .info-sect-content-box a:active,
  .info-sect-content-box a:focus,
  .info-sect-content-box a:hover {
    text-decoration: underline;
    text-decoration-color: hsl(170, 45%, 43%);
    color: hsl(170, 45%, 43%);
  }

  .info-sect-reference {
    width: 75%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    margin: 2rem 0;
    font-size: 0.9rem;
  }

  .ref-person-img {
    height: 2rem;
    border-radius: 100%;
    margin-right: 0.4rem;
  }

  .avatar-tbl {
    font-size: .7rem;
  }

  .bottom-sect-container {
    display: flex;
    flex-direction: column;
    background-color: hsl(238, 22%, 44%);
    text-align: center;
  }

  .bottom-sect-content-box {
    order: 1;
    padding: 1.5rem;
    color: #ffffff;
  }

  .bottom-sect-content-box h2 {
    margin: 0;
  }

  .bottom-sect-form-box {
    order: 2;
    padding: 0 2rem 4rem 2rem;
  }

  .bottom-sect-form-email-input {
    width: 85%;
    height: 1.75rem;
  }

  .bottom-sect-submit-btn {
    width: 85%;
    height: 2rem;
  }
/*
  .footer-sect-container {
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(243, 87%, 12%);
    color: #ffffff;
  }

  .foot-contact-dtls-box {
    order: 1;
    flex-basis: 30%;
    padding-top: 2rem;
  }

  .foot-link-dtls-box {
    order: 2;
    flex-basis: 20%;
    padding-top: 6.3rem;
  }

  .footer-nav {
    list-style: none;
  }

  .footer-nav-item {
    padding-bottom: 0.6rem;
  }

  .footer-nav-item:link,
  .footer-nav-item:hover,
  .footer-nav-item:visited {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .footer-nav-item img {
    padding-right: 0.75rem;
  }

  .footer-logo {
    padding: 1rem 0 0 2.75rem;
  }

  .social-link-box {
    margin-top: 1rem;
  }

  .social-link {
    padding-right: 0.4rem;
  } */
}