body {
  margin: 0 auto;
  font-family: 'Open Sans',
    sans-serif;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway',
    sans-serif;
  font-weight: 700;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

@media(min-width:451px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-logo-box {
    padding: 2rem 0 1rem 4rem;
  }

  .header-links-box {
    padding: 2rem 4rem 1rem 0;
  }

  .header-links-box a {
    color: hsl(243, 87%, 12%);
    margin-right: 10px;
  }

  .files-sect-container {
    display: flex;
    justify-content: space-between;
  }

  .files-img-box {
    padding: 1rem 4rem 1rem 2.5rem;
    flex-basis: 45%;
    order: 2;
  }

  .files-img-box img {
    max-width: 100%;
    max-height: 100%;
  }

  .files-content-box {
    padding: 1rem 2.5rem 1rem 4rem;
    flex-basis: 45%;
    order: 1;
    font-size: 1.15rem;
  }

}